section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}