.title {
  font-weight: bold;
  padding: 10px;
}

img {
  width: 500px;
  height: 300px;
  border: rgb(224, 224, 224) solid 1px;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
}

.card {
  display: flex;
  flex-direction: column;
}

.view-movie {
  border: none;
  border-radius: 0px 0px 10px 10px;
  color: #fff;
  background-color: rgb(42, 97, 248);
}
